@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

.rtl {
    direction: rtl;
}

:root {

    @media (max-width:1000px) {
        font-size: 13px;
    }

    @media (max-width:600px) {
        font-size: 8px;
    }

}

.carousel-inner {
    height: 100% !important;
}