@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

.rtl {
    direction: rtl;
}

:root {

    @media (max-width:1000px) {
        font-size: 13px;
    }

    @media (max-width:600px) {
        font-size: 8px;
    }

}

.dark {
    color: #EEE;
    background-color: #292A2D;
}

.light,
.dark {
    transition: .5s all ease-in-out;

}

.carousel {
    min-height: 100vh;


    .carousel-inner {
        height: 100% !important;
    }
}